*.o
.deps/
*.swp
*.bak
*~
GNUmakefile
GNUmakefile.in
RPM_BUILDING/
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
configure.in
depcomp
install-sh
missing
stamp-h1
suckmt
suckmt-*.tar.gz
suckmt.ini.sample
suckmt.spec
