[Suck MT Copyright Information]
Author                         = Suck MT was written by ir. Niels Basjes (C) 1999-2000
Suck MT License                = Suck MT is distributed under the GNU Public License.
The Suck MT website            = http://go.to/suckmt
You can email the author at    = SuckMT@Basjes.nl
This file created by version   = 0.2
This file modified by version  = 0.50

[Suck MT Installation]
Date of first run  = Mon Aug 30 23:17:54 1999
Date of last run   = Mon Mar 13 21:52:51 2000
Run number         = 127

[Suck MT Configuration]
News server Hostname                   = news.wirehub.nl
Storage Directory                      = /etc/ppp/news/Msgs
Batch File                             = /etc/ppp/news/batch
Number of threads                      = 5
Connect with Port Number               = 119
Connect with Username                  = basjes
Connect with Password                  = Secret
Debug SOCKET commands                  = False
Send MODE READER to the server         = False
Restart File                           = /tmp/suckmtrestart
Logging amount [0(nothing)..7(noise)]  = 2

[Kill Log File]
Enable Kill Logfile   = False
Kill Log Filename     = /tmp/SuckMTKillLog.txt
Kill Logfile Headers  = From Subject Newsgroups Lines X-Trace X-Complaints-To Message-ID

[Global Kill Rules]
Minimum Lines in a Message   = -1 ;   100
Maximum Lines in a Message   = -1 ;   100
Maximum Bytes in a Message   = -1 ;   100
Maximum Groups in a Message  = -1 ;   100

[News Groups]
comp.os.linux.announce        = 15467
nl.comp.crypt                 = 2635
nl.comp.hardware              = 114086
nl.comp.os.linux              = 112368
nl.comp.os.linux.announce     = 82
nl.comp.os.linux.installatie  = 7385
nl.comp.os.ms-windows         = 63135
nl.comp.overig                = 40287
nl.comp.programmeren          = 36183
nl.support.sysadmin           = 1071

[Kill Headers]
Content-Type:text/html              = Fri Oct  1 12:25:43 1999 ;     0 ; 10000
Content-Type:multipart/alternative  = Sat Oct  2 17:00:12 1999 ;     0 ; 10000
Content-Type:multipart/mixed        = Thu Sep 30 22:10:09 1999 ;     0 ; 10000
Content-Transfer-Encoding:base64    = Fri Oct  1 12:25:43 1999 ;     0 ; 10000
~Subject:^TKA                       = Sat Oct  2 17:00:12 1999 ;     0 ;   100
~Subject:^TKG                       = Sat Oct  2 17:00:12 1999 ;     0 ;   100
~Subject:Te Koop                    = Fri Oct  1 12:25:43 1999 ;     0 ; 10000
~Subject:^tk:                       = Fri Oct  1 12:25:43 1999 ;     0 ;   100
~Subject:Tk\.                       = Fri Oct  1 12:25:43 1999 ;     0 ;   100
Subject:T\.K\.                      = Thu Sep 30 23:43:01 1999 ;     0 ;   100
~Subject:Over[ck]lo(k|ck)           = Thu Jan  6 21:04:19 2000 ;     0 ; 10000
~Subject:geld verdienen             = Sat Oct  2 17:00:12 1999 ;     0 ;   100
From:money@cashforyou.com           = Fri Oct  1 12:25:43 1999 ;     0 ;   100
From:droid@spam.free.net            = Fri Oct  1 12:25:43 1999 ;     0 ;   100
From:nobody@replay.com              = Fri Oct  1 12:25:43 1999 ;     0 ;   100
From:your@email.com                 = Fri Oct  1 12:25:43 1999 ;     0 ;   100
From:defaultuser@domain.com         = Fri Oct  1 12:25:43 1999 ;     0 ;   100

[Keep Headers]
Newsgroups:^comp.os.linux.announce$     = Thu Jan  6 21:04:19 2000 ;     0 ;  1000
Newsgroups:^nl.comp.os.linux.announce$  = Thu Jan  6 21:04:19 2000 ;     0 ;  1000
Subject:CVF                             = Thu Jan  6 21:04:19 2000 ;     0 ;   100
From:peters@polyware.nl                 = Thu Jan  6 21:04:19 2000 ;     0 ;   100

